---
title: TARA Brand Guidelines
---

<%= partial 'partials/header' %>

<main>
  <%= partial "partials/mark" %>
  <%= partial "partials/colors" %>
  <%= partial "partials/typography" %>
</main>

<%= partial 'partials/footer' %>
