---
title: Welcome to Middleman
---

<main>
  <%= partial 'partials/header' %>


  <%= partial "partials/mark" %>
  <%= partial "partials/colors" %>
  <%= partial "partials/typography" %>


  <%= partial 'partials/footer' %>

</main>
